################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/00.Svr_FSM/01.Svr/FSM_Svr/.vs/FSM_Svr/v15
/00.Svr_FSM/03.Dx_Megaman/.vs/Megaman_test/v15
/00.Svr_FSM/03.Dx_Megaman/Output
/00.Svr_FSM/04.Chatting/01.Chatting/05.Chat_C/.vs/05.Chat_C/v15
/00.Svr_FSM/04.Chatting/01.Chatting/05.Chat_C/x64/Debug
/00.Svr_FSM/03.Dx_Megaman
/00.Svr_FSM
/output
